{% extends "base.html" %}

{% block content %}
<div class="container">
    <br>
    <blockquote class="blockquote">
        <p class="mb-0">
            Stewart Hails Branding is an exciting studio-centred branding and printing services provider.
            We specialize in identity design, graphic design for print and online media, digital printing,
            stationery supply and branding solutions. We are situated at Harleys Building, Kisumu, Kenya.
            We work for clients all over East Africa, across the whole spectrum of industries on a wide
            range of design and print projects.
        </p>
    </blockquote>

    <hr>
    <br>

    <blockquote class="blockquote">
        <h4><span class="text-styler"> Vision Statement</span></h4>
        <p class="mb-0">
            To be the most reputable and sought after company for design, branding and printing solutions in
            Africa.
        </p>
    </blockquote>
    <br>

    <hr>
    <br>

    <blockquote class="blockquote">
        <h4><span class="text-styler"> Mission Statement</span></h4>
        <p class="mb-0">
            To provide quality print and branding solutions with ethical and moral values while being dedicated in
            performing our duties and fostering an environment of continuous improvement and ensuring strong working
            relations.
        </p>
    </blockquote>
    <br>

</div>
{% endblock content %}